[submodule "modules/docker"]
	path = modules/docker
	url = git@github.com:chrhuff/codingdojo-docker.git
[submodule "modules/backend"]
	path = modules/backend
	url = git@github.com:chrhuff/codingdojo-backend.git
[submodule "modules/app"]
	path = modules/app
	url = git@github.com:chrhuff/codingdojo-app.git
[submodule "modules/javafx-client"]
	path = modules/javafx-client
	url = git@repositories.dragonriders.de:cofinpro/codingdojo.git
